* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav2 {
  margin-top: 15px;
}
button {
  border: transparent;
  background-color: #0a0a23;
  color: #fff;
}
button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: #002ead;
  transition: 0.2s;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  height: 75px;
}
.nav input {
  width: 400px;
  height: 30px;
}
.nav button {
  height: 30px;
  margin-left: 5px;
  width: 75px;
}
.images{
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 400px; */
  flex-direction: column;
}
.images img{
  height: 350px;
  width: 380px;
}
.humidity{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.humidity img {
height: 50px;  
  width: 50px;
}
footer{
  display: flex;
  justify-content: space-evenly;
  /* margin: 20px; */
}
.wild img{
  height: 50px;  
  width: 50px;
}
.wild{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

@media screen and (max-width: 600px) {
  .nav {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
  }
  .topnav {
    display: flex;
    justify-content: center;
    margin-top: 55px;
    /* padding: 5px; */
  }
  .nav input {
    width: 50%;
  }
  .nav {
    height: 30px;
  }
  .nav2 {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    padding: 0px;
  }
  .images{
    margin-top: 50px;
  }
}
