@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

*{
    margin: 0;padding: 0;

}
body{
    font-family: Roboto;
}
nav{
    padding: 30px;

}
.text{
    text-align: center;
    font-size: 20px;

}
.search{
    display: flex;
    justify-content: center;
    margin-top: 22px;
}
.search input{
    width: 300px;
    padding: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 1px; 
    background-color: #ebe9e9;

}

.search button{
    width: 90px;
    height: 38px;
    border: none;
    background-color: aqua;
    color: white;
    font-size: 20px;
    border-radius: 4px;
    margin-inline: 17px; ;
}
#showData{
    margin: auto;
    display: grid;
    justify-content: center;
    width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    
}

#showData img{
    height: 80%;
    width: 300px;
    border-radius:5px ;
object-fit: cover;
}
.more{
    display: none;
    text-align: center;
    padding: 22px;
}
#moreBTN{
    height: 40px;
    width: 140px;
    background-color: blue;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
@media screen and (max-width: 600px) {
 .search button{
    font-size: 15px;
    margin-inline:5px ;
 }
 .search input{
    width: 90%;
 }
 #showData{

    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr))
    
}
 #showData img{
    height: 80%;
    width: 190px;
    border-radius:5px ;
}
}