* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Oswald", sans-serif;
  font-size: 62.5%;

  @media (max-width: 768px) {
    font-size: 50%;
  }
  @media (max-width: 450px) {
    font-size: 40%;
  }
}
body {
  font-size: 1.6rem;
}
nav {
  background-color: #fff;
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.33);
}
.container {
  padding: 30px;
  padding: 10px 18px;
  height: 65px;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
li {
  list-style: none;
}

ul {
  display: flex;
  gap: 4rem;
  font-size: 2rem;
}
.content button{
  font-size: 1.5rem;
  padding: 0.7rem;
  width: 100px;
  border-radius: 5px;
  border: none;
}
.logo {
  display: flex;
  gap: 3rem;
  align-items: center;
  font-size: 3rem;
}
.logo img{
height: 100%;
width: 200px;
}
.icon i{
  cursor: pointer;
  font-size: 3rem;
  display: grid;
}
.shape i {
  cursor: pointer;
  padding: 4px;
  font-size: 2.5rem;
}
.backdrop {
  /* display: none; */
  visibility: hidden;
  height: 100%;
  width: 100%;
  z-index: 100;
  position: absolute;
  top: 57px;
  left: 0;
  background-color: rgb(0, 0, 0, 0.2);
}
.mainDrower{
  /* display: none; */
  visibility: hidden;
  z-index: 150;
  position: absolute;
  top: 57px;
  height: 100vh;
  width: 60%;
  background-color: white;

}
input{
  height: 45px;
  width: 500px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.594);
  padding: 0 15px;
  font-size:1.4rem;
}
.navName{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  list-style: none;
  padding: 2rem;
}
.navName li{
  font-size: 2.5rem;
  padding: 0.5rem;
}
.login{
  font-size: 2.5rem;
  padding: 1rem;
  margin: 0 1.5rem;
}
@media (min-width: 768px) {
  .icon {
    display: none;
  }
  .shape {
    display: none;
  }
}
@media (max-width: 768px) {
  .content {
    display: none;
  }
  .container {
    padding: 20px;
    height: 57px;
  }
  .input{
    position: absolute;
    z-index: 00;
    top: 60px;
    height: 62px;
    width: 95%;
    /* left: 30px; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* background-color: red; */
  }
  .input input{
    width: 90%;
    height: 46px;
    font-size: 2rem;
  }
  .logo img{
    height: 100%;
    width: 100px;
    }
}
