* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Oswald", sans-serif;
  font-size: 62.5%;

  @media (max-width: 768px) {
    font-size: 50%;
  }
  @media (max-width: 450px) {
    font-size: 40%;
  }
}
body {
  font-size: 1.6rem;
}
nav {
  background-color: aqua;
}
.container {
  padding: 30px;
  height: 70px;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
li {
  list-style: none;
}

ul {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
}
.logo {
  display: flex;
  gap: 3rem;
  align-items: center;
  font-size: 3rem;
}
.icon {
  /* margin-left: 15px; */
  cursor: pointer;
  font-size: 2.5rem;
  display: grid;
}
.icon i{
  cursor: pointer;
  font-size: 3rem;
  display: grid;
}
.shape i {
  cursor: pointer;
  padding: 4px;
  font-size: 2.5rem;
}
.backdrop {
  display: none;
  height: 100%;
  width: 100%;
  z-index: 100;
  position: absolute;
  top: 70px;
  left: 0;
  background-color: rgb(0, 0, 0, 0.2);
}
.mainDrower{
  display: none;
  z-index: 150;
  position: absolute;
  top: 70px;
  height: 100vh;
  width: 60%;
  background-color: white;
}
@media (min-width: 768px) {
  .icon {
    display: none;
  }
  .shape {
    display: none;
  }
}
@media (max-width: 768px) {
  .content {
    display: none;
  }
  .container {
    padding: 20px;
  }
}
